.compare {
    background-color:#c1a139;
    height: 100px;
    width: 300px;
    float: left; 
    margin-left: -1px; 
    font-family: 'Familjen Grotesk', sans-serif;
    text-shadow: 0px 4px 4px #00000044;
}
  
.compare_categories {
    background-color: #777777;
    height: 100px;
    width: 300px;
    margin-left: -1000px; 
    font-family: 'Familjen Grotesk', sans-serif;
    text-shadow: 0px 4px 4px #00000044;
    margin-top: 5px; 
    display: block; 
    transform: translateY(-350px);
}
  
.compare_categories:hover {
    background-color: #111;
}
  
.compare_inline {
    display: inline-block; 
}
  
.player_name {
    margin-bottom: 350px; 
    background-color: #777777;
    height: 100px;
    width: 900px;
    margin-left: 100px; 
    font-family: 'Familjen Grotesk', sans-serif;
    letter-spacing: 0.7em;
    text-shadow: 0px 4px 4px #00000044;
    background-image: url("../images/emblemPlaceholder.jpg");
}

.pie_text {
    transform: translateY(50px) rotate(-25deg);
    font-family: 'Familjen Grotesk', sans-serif;
}

.played_class {
    background-color: #777777;
    height: 150px;
    width: 500px; 
    text-align: left;
    font-family: 'Familjen Grotesk', sans-serif;
    text-shadow: 0px 4px 4px #00000044;
    margin-top: 5px; 
    display: block; 
    transform: translateY(-650px);
}

.played_class_text {
    margin-left: 15px; 
    letter-spacing: 0.2em;
}

.pie_category {
    background-color: #777777;
    height: 400px;
    width: 500px; 
    font-family: 'Familjen Grotesk', sans-serif;
    text-shadow: 0px 4px 4px #00000044;
    margin-top: 5px; 
    display: block; 
    transform: translateY(-650px);
}

.pie_category2 {
    height: 400px;
    width: 500px; 
    font-family: 'Familjen Grotesk', sans-serif;
    text-shadow: 0px 4px 4px #00000044;
    margin-top: 5px; 
    display: block; 
    transform: translateY(-650px);
}

.play_by_class {
    transform: translate(140px, 50px);
    letter-spacing: 0.05em;
}