.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #313131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313131;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block; 
}

li a:hover {
  background-color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  padding: 10px 10px;
}

.navbar-button button{
  background-color: #313131; 
  font-size: 22px;
  color: white; 
  border: none; 
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.logo {
  max-width: 30px;
  height: auto;
  cursor: pointer;
}

.logo img{
  max-width: 100px;
}

.header {
  position: relative;
  padding: 20px;
  background-color: #313131
}

.blockLogo {
  height: 50px; 
  width: 50px;
  display: inline-flex; 
  transform: translate(-20px, 15px);
}
.text {
  display: inline-flex; 
}